<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><h3 style="margin-top:0px;">NASDAQ Homepage</h3></a>
	      <ul class="nav navbar-nav navbar-link">
	      	<li><a href="/stockmarket/vote/">Vote!</a></li>
	      	<li>
      			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal" style="margin-top:8px;">
					Submit Stock
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="myModalLabel">Submit a Stock Form</h3>
				      </div>
				      <div class="modal-body">
				        <form action="" method="post">
						    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
						    <label for="choice{{ forloop.counter }}"></label><br />
							<input type="submit" value="Vote" />
						</form>
					      </div>
					      <div class="modal-footer">
					      <button type="button" class="btn btn-primary" value="vote">Submit</button>
				      </div>
				    </div>
				  </div>
				</div>
			</li>
      	  </ul>
  	  	</div>
  	  </div>	
	</nav>


	{% if stock_list %}
	<div class="container">
	  <center><h2>Stock Hotboard</h2></center>
	  <div class="col-lg-8 col-lg-offset-2">            
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Code</th>
		        <th>Stock</th>
		        <th>Value</th>
		        <th>Votes</th>
		      </tr>
		    </thead>
		    <tbody>
		      {% for stock in stock_list%}
		      <tr>
		        <td>{{ stock.stock_code }}</a></td>
		        <td><a href="{% url 'stockmarket:stockpage' stock.id %}">{{ stock.stock_name }}</a></td>
		        <td>{{ stock.value }}</td>
		        <td>{{ stock.transactions}}
		      </tr>
		      {% endfor %}  
		    </tbody>
		  </table>
	</div>
	{% else %}
		<p> No current stocks are available. </p>
	{% endif %}	

</div>

